<p-table [value]="masterData" dataKey="id">
  <!-- Table Header -->
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
    </tr>
  </ng-template>

  <!-- Table Rows -->
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <!-- Expand Button -->
      <td>
        <button
          *ngIf="rowData.details.length > 0"
          pButton
          pRipple
          (click)="rowData.expanded = !rowData.expanded"
          [icon]="
            rowData.expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
          "
          class="p-button-text p-button-rounded p-button-plain mr-2"
        ></button>
      </td>
      <td>{{ rowData.id }}</td>
      <td>{{ rowData.name }}</td>
      <td>{{ rowData.category }}</td>
    </tr>

    <!-- Expanded Detail Row -->
    <tr *ngIf="rowData.expanded">
      <td colspan="4">
        <p-table [value]="rowData.details">
          <ng-template pTemplate="header">
            <tr>
              <th>Detail ID</th>
              <th>Description</th>
              <th>Quantity</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-detailRow>
            <tr>
              <td>{{ detailRow.id }}</td>
              <td>{{ detailRow.description }}</td>
              <td>{{ detailRow.quantity }}</td>
            </tr>
          </ng-template>
        </p-table>
      </td>
    </tr>
  </ng-template>
</p-table>
