<!-- <app-tree-view></app-tree-view> -->

<span style="width: 300px">
  <input type="text" style="width: 400px" [(ngModel)]="groupingInput" />
  <button (click)="onApplyGroupingClick($event)">Apply grouping</button>
</span>
<app-multi-column-table
  [value]="customers"
  [columns]="columns"
  [groupingFields]="groupingFields"
>
  <ng-template #nameHeaderTemplate>
    <td style="color: chocolate">The NAME!</td>
  </ng-template>
  <ng-template #nameBodyTemplate let-row>
    <td style="padding-left: 2rem">{{ row.name }}</td>
  </ng-template>
</app-multi-column-table>
