<div class="card">
  <p-table [value]="groupedData" [tableStyle]="{ 'min-width': '70rem' }">
    <ng-template pTemplate="header">
      <ng-container *ngFor="let column of getUngroupedColumns()">
        <td>
          <ng-container *ngIf="isTemplate(column.header); else defaultHeader">
            <ng-container
              *ngTemplateOutlet="getTemplate(column.header)"
            ></ng-container>
          </ng-container>
          <ng-template #defaultHeader>{{ column.header }}</ng-template>
        </td>
      </ng-container>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <ng-container
        *ngTemplateOutlet="groupRowTemplate; context: { $implicit: row }"
      ></ng-container>
    </ng-template>
  </p-table>
</div>

<ng-template #groupRowTemplate let-row>
  <tr *ngIf="row.children">
    <td colspan="5" [ngStyle]="getGroupRowStyle(row.level)">
      <button
        type="button"
        pButton
        pRipple
        class="p-button-text p-button-rounded p-button-plain mr-2"
        [icon]="
          isExpanded(row.id) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
        "
        (click)="toggleExpand(row.id)"
      ></button>
      <span class="font-bold ml-2">
        {{ getColumnHeader(row.field) }}: {{ row?.value }}</span
      >
    </td>
  </tr>

  <ng-container *ngIf="!row.children">
    <tr>
      <ng-container *ngFor="let column of getUngroupedColumns()">
        <ng-container *ngIf="column.bodyTemplate; else defaultBody">
          <ng-container
            *ngTemplateOutlet="
              column.bodyTemplate!;
              context: { $implicit: row }
            "
          ></ng-container>
        </ng-container>
        <ng-template #defaultBody>
          <td>{{ row[column.field] }}</td>
        </ng-template>
      </ng-container>
    </tr>
  </ng-container>

  <ng-container *ngIf="isExpanded(row.id)">
    <ng-container *ngFor="let child of row.children">
      <ng-container
        *ngTemplateOutlet="groupRowTemplate; context: { $implicit: child }"
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
