<div class="card">
  <p-table [value]="groupedData" [tableStyle]="{ 'min-width': '70rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Company</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <ng-container *ngFor="let row of groupedData">
        <ng-container
          *ngTemplateOutlet="groupRowTemplate; context: { $implicit: row }"
        ></ng-container>
      </ng-container>
    </ng-template>
  </p-table>
</div>

<ng-template #groupRowTemplate let-row>
  <tr *ngIf="row.children">
    <td colspan="5">
      <button
        type="button"
        pButton
        pRipple
        class="p-button-text p-button-rounded p-button-plain mr-2"
        [icon]="
          isExpanded(row.key) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
        "
        (click)="toggleExpand(row.key)"
      ></button>
      <span class="font-bold ml-2">{{ row?.key }}</span>
    </td>
  </tr>
  <tr *ngIf="!row.children">
    <td style="padding-left: 2rem">{{ row.name }}</td>
    <td>{{ row.country }}</td>
    <td>{{ row.company }}</td>
    <td>{{ row.status }}</td>
    <td>{{ row.date }}</td>
  </tr>
  <ng-container *ngIf="isExpanded(row.key)">
    <ng-container *ngFor="let child of row.children">
      <ng-container
        *ngTemplateOutlet="groupRowTemplate; context: { $implicit: child }"
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
